@import url(layout.css);
@font-face {
  font-family: Syne;
  src: url('../fonts/Syne/Syne-SemiBold.ttf');
}
@font-face {
  font-family: DM_Sans;
  src: url('../fonts/DM-Sans/DMSans-Regular.ttf');
}
html,
body {
  font-family: DM_Sans;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--currentBgColor);
  box-shadow: 0.25rem 0.25rem 0.75rem 0rem rgba(0, 0, 0, 0.33);
  z-index: 2;
}
header .headerContent {
  width: 100%;
  height: 6.875rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.125rem solid #004598;
}

/* NAVBAR */
header .headerContent .navbar {
  align-items: center;
  gap: 1.25rem;
}
header .headerContent .navbar a {
  color: var(--currentColor);
  overflow: hidden;
}
header .headerContent .navbar a:hover {
  border-bottom: 0.0625rem solid var(--currentColor);
}

header .headerContent .navbar .contactUs-btn {
  background: linear-gradient(282.95deg, #e215a7 -11.93%, #ee1d78 134.56%);
  border-radius: 4px;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 7.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  margin-left: 6.25rem;
  transition: all 0.5s;
  border-radius: 0.25rem;
  /* background: linear-gradient(334deg, #E215A7 0%, #EE1D78 100%); */
  box-shadow: 0.1875rem 0.25rem 0.8125rem 0rem rgba(0, 0, 0, 0.28);
}
header .headerContent .navbar .contactUs-btn:hover {
  background: #f3e2e2;
  border-bottom: none;
  color: rgb(64, 59, 59);
}
.header-desc {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.right .header-desc .header {
  font-family: Syne;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.875rem; /* 135.294% */
  text-transform: capitalize;
  background: linear-gradient(168deg, #ee1d76 0%, #e215a7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-header-description .headerWithBorder .header {
  display: block;
  width: 50rem;
  color: #e9eef4;
  color: #e9eef4;
  font-family: Syne;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem; /* 125% */
  text-transform: capitalize;
}

/* slogan */

.section-1 {
  position: relative;
  background: linear-gradient(to bottom right, #0d1d3a, #3d5588);
  width: 100%;
  height: 45rem;
  /* background-image: url('../images/angles.svg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-1::before {
  content: '';
  position: absolute;
  top: 6.25rem;
  width: 50%;
  height: 90%;
  background-image: url('../images/angles.svg');
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slogan {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 37.5rem;
}

.left-container {
  background-image: url('../images/stars1.svg');
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  /* height: 600px; */
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
}
.left-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/stars2.svg');
  background-image: linear-gradient(to bottom right, #040747, #415785);
  z-index: -1;
}

.slogan .left-container .left-info {
  position: relative;
  width: 34.875rem;
}

.slogan .left-container .left-info .info-desc-header {
  margin-bottom: 0.9375rem;
  color: #feb109;
  font-size: 1rem;
  font-weight: 500;
}
.slogan .left-container .left-info .info-header {
  font-family: Syne;
  width: 18ch;
  line-height: 3.75rem;
  font-size: 3.125rem;
  font-weight: 700;
  color: #e9eef4;
  margin-bottom: 2.5rem;
}
.slogan .left-container .left-info .description {
  font-family: DM_Sans;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #ededed;
  line-height: 1.625rem;
  width: 50ch;
  margin-bottom: 3.75rem;
}
.slogan .left-container .left-info .get-started-container {
  font-size: 1rem;
  font-weight: 500;
  color: #e9eef4;
}
.slogan .left-container .left-info .get-started-container {
  align-items: center;
  gap: 1.875rem;
}
.slogan .left-container .left-info .get-started-container .started-btn {
  width: 7.5rem;
  height: 2.5rem;
  color: #e9eef4;
  border: none;
  border-radius: 0.25rem;
  background: linear-gradient(278.44deg, #e215a7 -7.56%, #ee1d78 118.54%);
}
.slogan .left-container .left-info .get-started-container .play-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
}
.slogan
  .left-container
  .left-info
  .get-started-container
  .play-btn
  .fa-circle-play {
  font-size: 2.5rem;
  color: #e215a7;
}

.right {
  align-items: center;
  width: 50%;
}
.right img {
  margin-top: 5rem;
}

.right .yellow-bg {
  position: absolute;
  top: 0;
  width: 28.75rem;
}
.right .col-3,
.right .col-3-2 {
  position: absolute;
  width: 17.5rem;
}

.right .col-3 {
  bottom: 8.125rem;
}
.right .col-3-2 {
  top: 7.5rem;
}
.right .right-B {
  position: absolute;
  bottom: 12.5rem;
  right: 7.1875rem;
}

/* section-2 */

main {
  position: relative;
  width: 100%;
  background-color: #091f3b;
  display: flex;
  flex-direction: column;

  margin-top: 6.875rem;
}
.section-2 {
  padding: 6.875rem 0 0 6.25rem;
}

.about-header-description .headerWithBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
/* radial-container-1 */
.radial-grad-container-1 {
  /* background-color: #d71d1d; */
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
}
.radial-grad-container-1 .grad-cont-1 {
  background-color: green;
  width: 100%;
  height: 43.75rem;
  /* margin-bottom: 300px; */
  justify-content: space-between;
}
.radial-grad-container-1 .grad-cont-2 {
  width: 12.5rem;
  flex-direction: column;
}
.radial-grad {
  position: relative;
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 50%;
  background: #0f3660;
  filter: blur(3.125rem);
}
/* 1 */
.radial-grad-container-1 .grad-cont-1 {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  /* height: 600px; */
  /* background-color: red; */
}

.grad-cont-1 .grad-3 {
  align-self: flex-start;
}
/* 2 */

.radial-grad-container-2 {
  position: relative;
  top: 18.75rem;
  /* gap:60px; */
  margin-bottom: 3.75rem;
  /* background-color: red; */
}

.radial-grad-container-2 .grad-cont-1 {
  justify-content: space-between;
  align-items: center;

  height: 25rem;
}
.radial-grad-container-2 .grad-cont-1 .grad-3 {
  align-self: center;

  width: 12.5rem;
  height: 12.5rem;
}
.radial-grad-container-2 .grad-cont-2 {
  width: 43.75rem;
  height: 25rem;
  justify-content: space-between;
}
.grad-cont-2 .grad-2 {
  align-self: flex-end;
}

.grad-2 {
  position: relative;
  align-self: flex-start;
}

.radial-grad-container-2 .grad-cont-2 .grad-2 {
  align-self: center;
}

/* .about-header-description .header {
  font-family: Syne;
  font-size: 40px;
  font-weight: 700;
  padding: 7px 0;
} */

.about-header-description .border {
  width: 11.25rem;
  height: 0.125rem;
  background-color: #e215a7;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem #000);
}
.about-header-description {
  width: 30ch;

  width: 55ch;
  color: #e8e8e8;
  text-align: center;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Syne;
  margin: 1.875rem auto;
  /* color: #e9eef4; */
  gap: 1.875rem;
  margin-bottom: 1.25rem;
  margin-inline: auto;
}

.section-2 .company-standarts {
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: 2.5rem;
  align-content: center;
  padding-top: 4.6875rem;
  height: 34.375rem;
}
.section-2 .company-standarts .left {
  /* background-color: green; */
  width: 80%;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 1rem;
  font-weight: 400;
}
/* h */

/* .section-2 .company-standarts .left .description{} */
.section-2 .company-standarts .left .list {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 0;
  margin-left: 1.25rem;
}
.section-2 .company-standarts .left .list-style {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.section-2 .company-standarts .left .list-style > p {
  position: relative;
}
.section-2 .company-standarts .left .list-style > p::before {
  content: '';
  background-image: url('../images/tick.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  top: 0;
  left: -1.25rem;
}

/* .section-2 .company-standarts .left .list .frst-list{} */
/* .section-2 .company-standarts .left .list .scnd-list{} */
.section-2 .company-standarts .right {
  position: relative;
  /* bottom: 100px; */
  right: 0;
  width: 100%;
  align-self: flex-start;
}
.section-2 .company-standarts .right .right-img {
  position: relative;
  width: 50%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .company-standarts .right .right-img img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-2 .company-standarts .right .play-btn {
  position: absolute;
  /* top: 200px;  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 3.4375rem;
  width: fit-content;
  height: 3.4375rem;
  border-radius: 50%;
  background-color: #fff;
  color: #e215a7;
}

.section-2 .company-standarts .left .radial-grad-container-3 {
  /* background-color: yellow; */
  padding-top: 9.375rem;
  gap: 3.75rem;
}

/* section-2 accelerate */
.section-2 .accelerate {
  margin-bottom: 7.8125rem;
  align-items: center;
  gap: 2.5rem;
}
.section-2 .accelerate .left {
  position: relative;
  width: 50%;
}
.section-2 .accelerate .left img {
  /* position: absolute; */
  width: 100%;
  object-fit: cover;
}
.section-2 .accelerate .right {
  width: 40%;
}
.section-2 .accelerate .right button {
  padding: 0.4375rem 1.1875rem;
  background-color: #e215a7;
  width: fit-content;
  color: #e8e8e8;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.section-2 .accelerate .right .description {
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 1rem;
  font-weight: 400;
  text-transform: lowercase;
}

/* Bitcoin */

.about-header-description .border {
  width: 11.25rem;
  height: 0.125rem;
  background-color: #e215a7;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem #000);
}

.about-header-description {
  width: 30ch;
  padding-top: 3.125rem;
  width: 55ch;
  color: #e8e8e8;
  text-align: center;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.bitCoin-container {
  justify-content: space-between;
  padding-top: 4.375rem;
}
.bitCoin-container .card {
  width: 23.125rem;
  height: 17.4288rem;
  align-items: center;
}
.bitCoin-container .first-card {
  position: relative;
  bottom: 1.25rem;
  width: 23.125rem;
  padding-top: 0.625rem;
  z-index: 0;
  height: 17.4288rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: linear-gradient(319deg, #e215a7 0%, #ee1d78 100%);
  box-shadow: 0.3125rem 0.375rem 0.5rem 0rem rgba(29, 19, 19, 0.27);
}
.bitCoin-container .first-card::after {
  content: '';
  width: 23.69rem;
  height: 17.4288rem;
  transform: rotate(4.698deg);
  flex-shrink: 0;
  border-radius: 0.625rem;
  opacity: 0.79;
  background: linear-gradient(335deg, #e215a7 0%, #ee1d78 100%);
  position: absolute;
  z-index: -1;
  top: 1.875rem;
  left: 0.75rem;
}

.bitCoin-container .second-card .slider-btns {
  margin-top: 2.75rem;
  gap: 0.625rem;
}
.bitCoin-container .second-card .first-btn,
.bitCoin-container .second-card .slider-btn {
  padding: 0.125rem 0.9375rem;
  border-radius: 1.25rem;
  background: #e6189a;
  box-shadow: 0.125rem 0.125rem 0.375rem 0rem rgba(0, 0, 0, 0.4);
}
.bitCoin-container .second-card .slider-btn {
  padding: 0.125rem 0.3125rem;
}
.bitCoin-container .card .logo {
  margin-bottom: 0.9375rem;
}
.bitCoin-container .first-card .logo {
  margin-bottom: 0;
}
/* .section-2 .bitCoin-container .first-card .logo img{
  width: 100px;
  height: 100px;
} */
.bitCoin-container .card .logo .logo-container {
  position: relative;
  width: 5.0038rem;
  height: 5.0038rem;
  border-radius: 0.625rem;
  background: linear-gradient(0deg, #13223d 0%, #13223d 100%), #13223d;
  box-shadow: 0rem 0rem 1.5rem -0.4375rem #88bcfa inset;
  justify-content: center;
  align-items: center;
}
.bitCoin-container .card .logo .logo-container > img {
  position: absolute;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  width: 3.3489rem;
  height: 2.8593rem;
}
.bitCoin-container .card .cardHeader {
  margin-bottom: 1.25rem;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.bitCoin-container .card .cardDescription {
  width: 35ch;
  color: #ededed;
  text-align: center;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  text-transform: capitalize;
  margin-bottom: 0.625rem;
}
.bitCoin-container .card .playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  /* transform: rotate(-30deg); */
  flex-shrink: 0;
  background-color: #e215a7;
  filter: drop-shadow(0.3125rem 0.3125rem 1.1875rem rgba(0, 0, 0, 0.61));
}
.bitCoin-container .card .playButton .fa-angle-right {
  color: #e9eef4;
  font-size: 1.875rem;
}
.section-3 {
  padding-bottom: 7.8125rem;
}

/* section -4 */
.section-4 .about-header-description {
  margin-bottom: 4.4375rem;
}

.section-4 .cripto-calc-container {
  /* position: relative; */
  width: 73.125rem;
  /* height: 55.3048rem; */
  /* height: 100%; */
  margin-bottom: 5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #10345c;
  box-shadow: 0.625rem 0.8125rem 1.625rem 0rem rgba(0, 0, 0, 0.11);
}
.section-4 .cripto-calc-container .header {
  padding: 0 1.875rem;
  justify-content: space-between;
  align-items: center;
  width: 73.125rem;
  height: 5.057rem;
  background-color: #00244b;
}
.section-4 .cripto-calc-container .header .header-nav {
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.section-4 .cripto-calc-container .header .header-nav .header-nav-list {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  text-transform: uppercase;
}

.section-4 .cripto-calc-container .header .header-nav .header-nav-list:hover {
  position: relative;
  right: 0px;
  top: 0.5rem;
  padding: 0.75rem 0.9375rem 1.5625rem 0.9375rem;
  border-radius: 0.1875rem;
  background: #10345c;
  box-shadow: 0rem 0.25rem 0.9375rem 0rem rgba(0, 0, 0, 0.31);
  color: #e215a7;
  font-family: DM_Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  text-transform: uppercase;
}
.section-4 .cripto-calc-container .content {
  justify-content: space-between;
  /* align-items: center; */
  padding: 1.5625rem 2rem 0.75rem;
  height: 100%;
  /* background-color: red; */
  gap: 10px;
}
.section-4 .cripto-calc-container .content .left {
  /* position: absolute; */
  width: 28%;
  /* height: 60%; */
  /* background-color: brown; */
}
.section-4 .cripto-calc-container .content .left .logo-img,
.section-4 .cripto-calc-container .content .left .calculated-box {
  justify-content: center;
  align-items: center;
  width: 20.7385rem;
  height: 9.4379rem;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
  border: 1px solid #0a1136;
  background: linear-gradient(180deg, #24305a 0%, #273b5e 0.01%, #2f656d 100%);
}
.section-4 .cripto-calc-container .content .left .calculated-box-container {
  position: relative;
  width: 20.7385rem;
  height: 42.5129rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #0a1136;
  background: #242d59;
}

.section-4 .cripto-calc-container .content .left .calculated-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.25rem;
  background: linear-gradient(0deg, #242d59 18.89%, #2f656d 89.86%);
  box-shadow: 0rem 0rem 0.6875rem 0rem rgba(0, 0, 0, 0.25);
}
.section-4 .cripto-calc-container .content .left .calculated-box p:first-child {
  color: #e9eef4;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
}
.section-4 .cripto-calc-container .content .left .calculated-box p:last-child {
  color: #fdb009;

  font-size: 1.25rem;

}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column {
  height: 90%;
  position: absolute;
  padding: 2rem 1.4375rem;
  justify-content: space-between;
  align-content: flex-start;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hashing-power
  .th-s-selection {
  width: 7.5rem;
  height: 2.5rem;
  padding: 0.9375rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 0.0625rem solid #0a1136;
  background: #242d59;
  justify-content: space-between;
  align-items: center;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .header {
  background-color: transparent;
  margin-bottom: 1rem;
  width: fit-content;
  text-align: start;

  height: fit-content;
  color: #e9eef4;



  text-transform: capitalize;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hasing-selection {
  color: #e215a7;

  font-size: 1.25rem;
  font-style: normal;

  text-transform: capitalize;

  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 0.625rem 0.875rem 1.375rem;
  width: 10.624rem;
  height: 3.4786rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  border: 0.0625rem solid #0a1136;
  background: #10345c;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hasing-selection
  .inc-dec-arrow {
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1.1338rem;
  height: 1.7064rem;
  flex-shrink: 0;
  border-radius: 0.1875rem;
  background: #e9eef4;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hasing-selection
  .inc-dec-arrow
  a {
  display: inline-block;
  height: 0.9375rem;
}

.section-4 .cripto-calc-container .content .right {
  gap: 2rem;
  width: 68%;
}

.section-4 .cripto-calc-container .content .right .right-header-container {
  width: 100%;
  justify-content: right;

  gap: 1rem;
}
.section-4
  .cripto-calc-container
  .content
  .right
  .right-header-container
  .right-header {
  width: 20.1476rem;
  height: 7.2002rem;
  flex-shrink: 0;
  border-radius: 0.875rem;
  background: #2f656d;
  box-shadow: 0.0625rem 0.1875rem 0rem 0rem #000;
}
.section-4
  .cripto-calc-container
  .content
  .right
  .right-header-container
  .right-header
  .header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.7432rem;
  height: 2.5822rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #294462;
  box-shadow: 0.125rem 0.1875rem 0.375rem 0rem rgba(0, 0, 0, 0.29);
}
.section-4
  .cripto-calc-container
  .content
  .right
  .right-header-container
  .right-header
  .header-description
  p {
  color: #feb109;

  font-size: 1.0625rem;
  font-style: normal;



  text-transform: uppercase;
}


.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .profit-container {
  gap: 1rem;
  padding: 0.2rem 0.7rem 1.5rem 0;
  width: 15.5485rem;
  height: 8.693rem;
  flex-shrink: 0;
  border-radius: 0.875rem 0rem 0rem 0.875rem;
  border: 1px solid #0a1136;
  background: linear-gradient(146deg, #3fb488 -84%, #1e124f 100%);
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .profit-container
  .date-texture {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e9eef4;
  font-size: 1rem;
  align-self: flex-end;
  width: 5.6327rem;
  height: 2.0942rem;
  flex-shrink: 0;
  border-radius: 0rem 1rem 0rem 0.875rem;
  background: #242d59;
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .profit-container
  .price-container {
  align-self: flex-end;
  gap: 0.5rem;
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .profit-container
  .price-container
  .frst-last-p {
  color: #ececec;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.01rem;
  text-transform: capitalize;
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .profit-container
  .price-container
  .price-p {
  color: #e215a7;
  font-size: 1.875rem;
  text-transform: capitalize;
}

.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .mined-container {
    padding: 1.2rem 2rem 1.5rem 0;
  width: 15.5392rem;
  height: 8.693rem;
align-items: flex-end;
  border: 0.0625rem solid #0a1136;

  background: linear-gradient(
    146deg,
    #3fb488 -166.35%,
    #1e124f 76.44%,
    #1e124f 100%
  );
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .mined-container
  .bitcoin-img-p-container {
font-size: 1.875rem;
color: #E215A7;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 40px;
  /* background-color: red; */
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .mined-container
  .bitcoin-img-p-container
  .bitcoin-img img{
    margin-top: 0;
  }

.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .mined-container
  .frst-p {
  color: #3fb488;
  font-size: 1.125rem;

}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .powerCost-container {
    align-items: flex-end;
    padding: 1.2rem 2rem 1.5rem 0;
  width: 15.5485rem;
  height: 8.693rem;
  flex-shrink: 0;
  border: 0.0625rem solid #0a1136;
  background: linear-gradient(
    120deg,
    #3fb488 -117.35%,
    #1e124f 42.44%,
    #1e124f 100%
  );
}
.section-4
  .cripto-calc-container
  .content
  .right
  .content-row-container
  .powerCost-container
  .frst-p{
    color: #3fb488;
    font-size: 1.125rem;
  }



/* section-5 */
.section-5 .bitCoin-container .card {
  align-items: flex-start;
}
.section-5 .bitCoin-container .card .cardDescription {
  text-align: start;
}

.section-5 .bitCoin-container .first-card {
  margin-right: 3.75rem;
  position: relative;
  width: 23.125rem;
  height: 21.7159rem;
  border-radius: 0.625rem;
  align-items: flex-start;
  padding-left: 2.0625rem;
}
.section-5 .bitCoin-container .first-card .cardDescription {
  text-align: start;
}
.section-5 .bitCoin-container .first-card .logo {
  align-self: flex-start;
}
.section-5 .bitCoin-container .first-card::after {
  position: absolute;
  content: '';
  width: 23.125rem;
  height: 21.7159rem;
  border-radius: 0.625rem;
  transform: rotate(5.043deg);
  flex-shrink: 0;
  fill: linear-gradient(325deg, #e215a7 7.37%, #ee1d78 88.84%);
  opacity: 0.69;
}
.section-5 .bitCoin-container .second-card img {
  margin-right: 0.625rem;
  margin-bottom: 0.3125rem;
}

.section-5 .bitCoin-container .learn-more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.875rem;
  padding: 0.4375rem 1rem;
  width: 8.4938rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(348deg, #e215a7 0%, #ee1d69 74.99%);
  box-shadow: -0.125rem -0.125rem 0.3125rem 0rem rgba(108, 136, 192, 0.03);
}
.bitCoin-container .learn-more-btn a {
  color: #e9eef4;
  font-family: DMSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  text-transform: capitalize;
}
.section-5 .bitCoin-container .first-card .learn-more-btn .fa-angle-right {
  color: #e9eef4;
}
.section-5 .bitCoin-container .second-learn-more-btn {
  color: #e9eef4;
  padding: 0.4375rem 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #e215a7;
  box-shadow: 0.1875rem 0.25rem 0.8125rem 0px rgba(0, 0, 0, 0.28);
}
.section-5 .bitCoin-container .second-learn-more-btn a {
  color: #e9eef4;
}

/* section-6 */
.section-6 {
  padding-top: 6.25rem;
}
.section-6 .subHeader {
  align-items: center;
  gap: 1.25rem;
}
.section-6 .subHeader p {
  width: 20ch;
  color: #e9eef4;
  font-family: Syne;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.875rem; /* 135.294% */
  text-transform: capitalize;
}
.section-6 .bitCoin-container .logo {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section-6 .bitCoin-container .first-card .logo {
  margin-top: 3.75rem;
  margin-bottom: 6.25rem;
}
.section-6 .bitCoin-container .logo img {
  position: absolute;
}
.section-6 .bitCoin-container .first-card {
  width: 23.125rem;
  height: 21.7159rem;
  position: relative;
  top: 1.875rem;
}
.section-6 .bitCoin-container .first-card::after {
  display: none;
}

/* section-7 */

.section-7 {
  padding-top: 6.875rem;
}
.section-7 .about-header-description button {
  border: none;
  width: 8.4938rem;
  height: 2.5rem;
  flex-shrink: 0;
  background: linear-gradient(348deg, #e215a7 0%, #ee1d69 74.99%);
  border-radius: 0.25rem;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  text-transform: capitalize;
}
.section-7 .content {
  justify-content: space-between;
}
.section-7 .content .left {
  width: 60%;
}
.section-7 .content .left .left-img {
  width: 41.9869rem;
  height: 28.6442rem;
  flex-shrink: 0;
}
.section-7 .content .left .left-img img {
  width: 90%;
}

.section-7 .content .right {
  width: 40%;
  align-items: flex-start;
}
.section-7 .content .right .right-header-container {
  justify-content: space-between;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 2rem;
  width: 100%;
  height: 200px;
  font-weight: 700;
  line-height: 3.125rem;
  text-transform: capitalize;
  background-color: red;
}
.section-7 .content .right .amound-container .right-header {
  width: 322.362px;
  height: 115.204px;
  flex-shrink: 0;
}
.section-7 .content .right p {
  width: 100%;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 1rem;
  margin-bottom: 1.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: lowercase;
}
.section-7 .content .right .right-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 16.3422rem;
  height: 3.125rem;
  border-radius: 0.25rem;
  background: #feb109;
  box-shadow: 0rem 0.25rem 1rem 0rem rgba(0, 0, 0, 0.25);
}
.section-7 .content .right .right-header p {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.section-7 .content .right .pink-border {
  margin-bottom: 1.25rem;
  width: 100%;
  height: 1.2214rem;
  background: linear-gradient(360deg, #e215a7 0%, #e215a7 98.44%);
  box-shadow: 0px 0rem 0.4375rem 0rem rgba(0, 0, 0, 0.34) inset;
  border-radius: 1.875rem;
}
.section-7 .content .right .softCap-container {
  width: 100%;
  justify-content: space-between;
}
.section-7 .content .right .softCap-container p {
  color: #ececec;
  font-family: DM_Sans;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.0106rem;
}
.section-7 .content .right .softCap-container .softCap-amound p {
  color: #feb109;
  font-family: DMSans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
}

/* section-8 */

.section-8 .pricing-work-container {
  margin-bottom: 1.875rem;
  position: relative;
  width: 100%;
  padding: 0.3125rem 3.125rem 1.3125rem;
  height: 14.1797rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #2a3a56;
}
.section-8 .pricing-work-container .button {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 2.3125rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgb(225, 141, 51);
  border-radius: 50%;
}
.section-8 .pricing-work-container .button .fa-angle-up {
  font-size: 1.875rem;
  color: white;
}
.section-8 .pricing-work-container .descriptions {
  gap: 1.25rem;
}
.section-8 .pricing-work-container .descriptions p:first-child {
  color: #feb109;
  font-family: DM_Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem; /* 250% */
  text-transform: capitalize;
}
.section-8 .pricing-work-container .descriptions p:last-child {
  width: 82ch;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
.section-8 .question {
  justify-content: space-between;
  align-items: center;
  padding: 0 3.125rem;
  margin-bottom: 1.875rem;
  width: 100%;
  height: 3.8563rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: linear-gradient(347deg, #ee1d78 2.6%, #e215a7 100%);
}
.section-8 .question .fa-angle-down {
  font-size: 1.375rem;
  color: white;
}
.section-8 .question p {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.125rem;
  text-transform: capitalize;
}

.section-8 .about-header-description {
  margin-bottom: 4.375rem;
}

/* section-9 */

.section-9 {
  position: relative;
  top: 0;
  height: 100%;
  /* padding-top: 50px; */
  background-image: linear-gradient(
      to bottom,
      rgba(9, 31, 59, 0.9),
      rgb(9, 31, 59, 0.9)
    ),
    url('../images/cripto-map.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  /* width: 150%; */
}
/* .section-9 .content-container {
  position: relative;
  bottom: 100px;

} */

.section-9 .content-container .about-header-description {
  margin-inline: auto;
  margin-bottom: 4.375rem;
}

.section-9 .content {
  justify-content: center;

  gap: 1.875rem;
}
.section-9 .content .left {
  justify-content: space-between;
  gap: 0.625rem;
}
.section-9 .content .left .date-name-container {
  gap: 0.625rem;
}
.section-9 .content .left .date-name-container .date {
  color: #feb109;
  font-family: DM_Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: capitalize;
}
.section-9 .content .left .date-name-container .name {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 108.333% */
  text-transform: capitalize;
}

.section-9 .content .center .stroke {
  align-items: center;
  justify-content: space-between;
  width: 0.375rem;
  height: 100%;
  background-color: #fff;
}
.section-9 .content .center .stroke .circle {
  width: 1.5676rem;
  height: 1.5676rem;

  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.375rem 0rem rgba(0, 0, 0, 0.25) inset;
}
.section-9 .content .right p {
  color: #ededed;
  font-family: DM_Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

/* section-10 */
.section-10 .content-container {
  gap: 3.625rem;
  padding: 7.5rem 0;
}

/* section-11 */
.section-11 .content-container {
  gap: 3.625rem;
}
.section-11 .content-container .cards-container {
  justify-content: space-between;
  gap: 1.4375rem;
}
.section-11 .content-container .cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5625rem;
  width: 16.875rem;
  height: 18.2031rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #293a56;
}
.section-11 .content-container .cards-container .first-card {
  position: relative;
  padding: 0;
}
.section-11 .content-container .cards-container .first-card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .section-11 .content-container .cards-container .first-card::before{

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    2deg,
    rgba(61,31,63) 11.28%,
    rgba(61,31,63) 36.55%
  );
} */
.section-11 .content-container .cards-container {
  margin-bottom: 125px;
}

.section-11 .content-container .cards-container .card-2-3-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-11 .content-container .cards-container .card-2-3-4 .more-info-box {
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.25rem 5rem;
  border: 0.0625rem solid #feb109;
}
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img {
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  height: 200px; */
  width: 100%;
  height: 100%;
}
.section-11
  .content-container
  .cards-container
  .card-2-3-4
  .portrait-img::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-image: linear-gradient(
    2deg,
    rgba(42, 58, 86, 1) 11.28%,
    rgba(42, 58, 86, 0) 36.55%
  );
}
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .section-11 .content-container .cards-container .card-2-3-4 .portrait-img::before {
  content: 'more-info';
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 16px;
  z-index: 5;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 15px;
  border-radius: 4px 80px;
  border: 1px solid #feb109;
} */
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img a {
  width: 7.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 1rem;
  z-index: 5;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 0.9375rem;
  border-radius: 0.25rem 5rem;
  border: 0.0625rem solid #feb109;
}
.section-11
  .content-container
  .cards-container
  .first-card
  .social-media-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
}

.section-11
  .content-container
  .cards-container
  .card-2-3-4
  .more-info-box
  .more-info {
  color: #e9eef4;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  text-transform: capitalize;
}
.section-11 .content-container .cards-container .card-2-3-4 .person-name {
  display: inline-block;
  color: #feb109;
  text-shadow: 0.5rem 0.5rem 1.4375rem rgba(0, 0, 0, 0.37);
  font-family: DM_Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  text-transform: capitalize;
}

/* section-12 */
.section-12 .card-container {
  justify-content: space-between;
  gap: 3.625rem;
}
.section-12 .content-container {
  gap: 6.875rem;
}
.section-12 .content-container .card {
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.875rem;
  padding: 0.625rem;
  width: 23.125rem;
  height: 23.125rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #2a3a56;
}
.section-12 .content-container .card-content {
  justify-content: space-between;
}
/* .section-12 .content-container .first-card{

} */
/* .section-12 .content-container .second-card{
  
}
  */
.section-12 .content-container .third-card {
  width: 10.625rem;
  height: 23.125rem;

  border-radius: 0.25rem;
  background: #2a3a56;
}

.radial-grad-container-3 .grad-cont-1 {
  height: 50rem;
}
.radial-grad-container-3 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-3 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-3 .grad-cont-1 .grad-3 {
  align-self: flex-start;
}
.radial-grad-container-3 .grad-cont-2 {
  justify-content: center;
  position: relative;
  bottom: 12.5rem;
}

.radial-grad-container-4 .grad-cont-1 {
  height: 50rem;
}
.radial-grad-container-4 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-4 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-4 .grad-cont-1 .grad-3 {
  align-self: center;
}
.radial-grad-container-4 .grad-cont-2 {
  justify-content: center;
  position: relative;
  bottom: 12.5rem;
}
.radial-grad-container-4 .grad-cont-2 .grad-1 {
  position: relative;
  top: 6.25rem;
}

.radial-grad-container-5 {
  /* background-color: bisque; */
  padding-top: 31.25rem;
  height: 56.25rem;
  gap: 17.5rem;
}
.radial-grad-container-5 .grad-cont-1 .grad-1 {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  background: #0f3660;
  filter: blur(60px);
}

.radial-grad-container-5 .grad-cont-2 {
  justify-content: center;
}

/* 6 */
.radial-grad-container-6 {
  /* background-color: red; */
  gap: 3.75rem;
  padding-top: 43.75rem;
}
.radial-grad-container-6 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-6 .grad-cont-1 .grad-3 {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.radial-grad-container-6 .grad-cont-2 {
  width: 43.75rem;
  height: 25rem;
  justify-content: space-between;
}
.radial-grad-container-6 .grad-cont-2 .grad-1 {
  width: 8.75rem;
  height: 8.75rem;
  align-self: flex-end;
}
.radial-grad-container-6 .grad-cont-2 .grad-2 {
  align-self: flex-start;
}

/* 7 */

.radial-grad-container-7 {
  /* background-color: cadetblue; */
  gap: 3.75rem;
}
.radial-grad-container-7 .grad-cont-1 {
  height: 37.5rem;
}
.radial-grad-container-7 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-7 .grad-cont-1 .grad-2 {
  align-self: flex-start;
  position: relative;
  top: 5rem;
}
.radial-grad-container-7 .grad-cont-1 .grad-3 {
  align-self: flex-start;
}

.radial-grad-container-7 .grad-cont-2 {
  /* background-color: red; */
  justify-content: space-between;
  height: 31.25rem;
}
/* .radial-grad-container-7 .grad-cont-2 .radial-grad{
width: 200px;
height: 200px;
} */
