@import url(layout.css);
@font-face {
  font-family: Syne;
  src: url('../fonts/Syne/Syne-SemiBold.ttf');
}
@font-face {
  font-family: DM_Sans;
  src: url('../fonts/DM-Sans/DMSans-Regular.ttf');
}
html,
body {
  font-family: DM_Sans;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--currentBgColor);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.33);
  z-index: 2;
}
header .headerContent {
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #004598;
}

/* NAVBAR */
header .headerContent .navbar {
  align-items: center;
  gap: 20px;
}
header .headerContent .navbar a {
  color: var(--currentColor);
  overflow: hidden;
}
header .headerContent .navbar a:hover {
  border-bottom: 1px solid var(--currentColor);
}

header .headerContent .navbar .contactUs-btn {
  background: linear-gradient(282.95deg, #e215a7 -11.93%, #ee1d78 134.56%);
  border-radius: 4px;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  margin-left: 100px;
  transition: all 0.5s;
  border-radius: 4px;
  /* background: linear-gradient(334deg, #E215A7 0%, #EE1D78 100%); */
  box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.28);
}
header .headerContent .navbar .contactUs-btn:hover {
  background: #f3e2e2;
  border-bottom: none;
  color: rgb(64, 59, 59);
}
.header-desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.right .header-desc .header {
  font-family: Syne;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 135.294% */
  text-transform: capitalize;
  background: linear-gradient(168deg, #ee1d76 0%, #e215a7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-header-description .headerWithBorder .header {
  display: block;
  width: 800px;
  color: #e9eef4;
  color: #e9eef4;
  font-family: Syne;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  text-transform: capitalize;
}

/* slogan */

.section-1 {
  position: relative;
  background: linear-gradient(to bottom right, #0d1d3a, #3d5588);
  width: 100%;
  height: 720px;
  /* background-image: url('../images/angles.svg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-1::before {
  content: '';
  position: absolute;
  top: 100px;
  width: 50%;
  height: 90%;
  background-image: url('../images/angles.svg');
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slogan {
  position: absolute;
  align-items: center;
  width: 100%;
  height: 600px;
}

.left-container {
  background-image: url('../images/stars1.svg');
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  /* height: 600px; */
  justify-content: center;
  align-items: center;
  /* background-color: gray; */
}
.left-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/stars2.svg');
  background-image: linear-gradient(to bottom right, #040747, #415785);
  z-index: -1;
}

.slogan .left-container .left-info {
  position: relative;
  width: 558px;
}

.slogan .left-container .left-info .info-desc-header {
  margin-bottom: 15px;
  color: #feb109;
  font-size: 16px;
  font-weight: 500;
}
.slogan .left-container .left-info .info-header {
  font-family: Syne;
  width: 18ch;
  line-height: 60px;
  font-size: 50px;
  font-weight: 700;
  color: #e9eef4;
  margin-bottom: 40px;
}
.slogan .left-container .left-info .description {
  font-family: DM_Sans;
  font-size: 15px;
  font-weight: 400;
  color: #ededed;
  line-height: 26px;
  width: 50ch;
  margin-bottom: 60px;
}
.slogan .left-container .left-info .get-started-container {
  font-size: 16px;
  font-weight: 500;
  color: #e9eef4;
}
.slogan .left-container .left-info .get-started-container {
  align-items: center;
  gap: 30px;
}
.slogan .left-container .left-info .get-started-container .started-btn {
  width: 120px;
  height: 40px;
  color: #e9eef4;
  border: none;
  border-radius: 4px;
  background: linear-gradient(278.44deg, #e215a7 -7.56%, #ee1d78 118.54%);
}
.slogan .left-container .left-info .get-started-container .play-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.slogan
  .left-container
  .left-info
  .get-started-container
  .play-btn
  .fa-circle-play {
  font-size: 40px;
  color: #e215a7;
}

.right {
  align-items: center;
  width: 50%;
}
.right img {
  margin-top: 80px;
}

.right .yellow-bg {
  position: absolute;
  top: 0;
  width: 460px;
}
.right .col-3,
.right .col-3-2 {
  position: absolute;
  width: 280px;
}

.right .col-3 {
  bottom: 130px;
}
.right .col-3-2 {
  top: 120px;
}
.right .right-B {
  position: absolute;
  bottom: 200px;
  right: 115px;
}

/* section-2 */

main {
  position: relative;
  width: 100%;
  background-color: #091f3b;
  display: flex;
  flex-direction: column;

  margin-top: 110px;
}
.section-2 {
  padding: 110px 0 0 100px;
}

.about-header-description .headerWithBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
/* radial-container-1 */
.radial-grad-container-1 {
  /* background-color: #d71d1d; */
  position: absolute;
  left: 0;
  right: 0;
  justify-content: space-between;
}
.radial-grad-container-1 .grad-cont-1 {
  background-color: green;
  width: 100%;
  height: 700px;
  /* margin-bottom: 300px; */
  justify-content: space-between;
}
.radial-grad-container-1 .grad-cont-2 {
  width: 200px;
  flex-direction: column;
}
.radial-grad {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #0f3660;
  filter: blur(50px);
}
/* 1 */
.radial-grad-container-1 .grad-cont-1 {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 100%;
  /* height: 600px; */
  /* background-color: red; */
}

.grad-cont-1 .grad-3 {
  align-self: flex-start;
}
/* 2 */

.radial-grad-container-2 {
  position: relative;
  top: 300px;
  /* gap:60px; */
  margin-bottom: 60px;
  /* background-color: red; */
}

.radial-grad-container-2 .grad-cont-1 {
  justify-content: space-between;
  align-items: center;

  height: 400px;
}
.radial-grad-container-2 .grad-cont-1 .grad-3 {
  align-self: center;

  width: 200px;
  height: 200px;
}
.radial-grad-container-2 .grad-cont-2 {
  width: 700px;
  height: 400px;
  justify-content: space-between;
}
.grad-cont-2 .grad-2 {
  align-self: flex-end;
}

.grad-2 {
  position: relative;
  align-self: flex-start;
}

.radial-grad-container-2 .grad-cont-2 .grad-2 {
  align-self: center;
}

/* .about-header-description .header {
  font-family: Syne;
  font-size: 40px;
  font-weight: 700;
  padding: 7px 0;
} */

.about-header-description .border {
  width: 180px;
  height: 2px;
  background-color: #e215a7;
  filter: drop-shadow(2px 2px 4px #000);
}
.about-header-description {
  width: 30ch;

  width: 55ch;
  color: #e8e8e8;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Syne;
  margin: 30px auto;
  /* color: #e9eef4; */
  gap: 30px;
  margin-bottom: 20px;
  margin-inline: auto;
}

.section-2 .company-standarts {
  position: relative;
  justify-content: space-between;
  display: flex;
  gap: 40px;
  align-content: center;
  padding-top: 75px;
  height: 550px;
}
.section-2 .company-standarts .left {
  /* background-color: green; */
 width: 80%;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 16px;
  font-weight: 400;
}
/* h */

/* .section-2 .company-standarts .left .description{} */
.section-2 .company-standarts .left .list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-left: 20px;
}
.section-2 .company-standarts .left .list-style {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-2 .company-standarts .left .list-style > p {
  position: relative;
}
.section-2 .company-standarts .left .list-style > p::before {
  content: '';
  background-image: url('../images/tick.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: -20px;
}

/* .section-2 .company-standarts .left .list .frst-list{} */
/* .section-2 .company-standarts .left .list .scnd-list{} */
.section-2 .company-standarts .right {
  position: relative;
  /* bottom: 100px; */
  right: 0;
  width: 100%;
  align-self: flex-start;
}
.section-2 .company-standarts .right .right-img {
  position: relative;
  width:50%;
  /* height: 500px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .company-standarts .right .right-img img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.section-2 .company-standarts .right .play-btn {
  position: absolute;
  /* top: 200px;  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 55px;
  width: fit-content;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  color: #e215a7;
}

.section-2 .company-standarts .left .radial-grad-container-3 {
  /* background-color: yellow; */
  padding-top: 150px;
  gap: 60px;
}

/* section-2 accelerate */
.section-2 .accelerate {
  margin-bottom: 125px;
  align-items: center;
  gap: 40px;
}
.section-2 .accelerate .left {
  position: relative;
  width: 50%;
}
.section-2 .accelerate .left img {
  /* position: absolute; */
  width: 100%;
  object-fit: cover;
}
.section-2 .accelerate .right {
  width: 40%;
}
.section-2 .accelerate .right button {
  padding: 7px 19px;
  background-color: #e215a7;
  width: fit-content;
  color: #e8e8e8;
  border-radius: 4px;
  font-size: 16px;
}
.section-2 .accelerate .right .description {
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
}

/* Bitcoin */

.about-header-description .border {
  width: 180px;
  height: 2px;
  background-color: #e215a7;
  filter: drop-shadow(2px 2px 4px #000);
}

.about-header-description {
  width: 30ch;
  padding-top: 50px;
  width: 55ch;
  color: #e8e8e8;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.bitCoin-container {
  justify-content: space-between;
  padding-top: 70px;
}
.bitCoin-container .card {
  width: 370px;
  height: 278.86px;
  align-items: center;
}
.bitCoin-container .first-card {
  position: relative;
  bottom: 20px;
  width: 370px;
  padding-top: 10px;
  z-index: 0;
  height: 278.86px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(319deg, #e215a7 0%, #ee1d78 100%);
  box-shadow: 5px 6px 8px 0px rgba(29, 19, 19, 0.27);
}
.bitCoin-container .first-card::after {
  content: '';
  width: 379.04px;
  height: 278.86px;
  transform: rotate(4.698deg);
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.79;
  background: linear-gradient(335deg, #e215a7 0%, #ee1d78 100%);
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 12px;
}

.bitCoin-container .second-card .slider-btns {
  margin-top: 44px;
  gap: 10px;
}
.bitCoin-container .second-card .first-btn,
.bitCoin-container .second-card .slider-btn {
padding: 2px 15px;
border-radius: 20px;
background: #e6189a;
box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
}
.bitCoin-container .second-card .slider-btn {
  padding: 2px 5px;

}
.bitCoin-container .card .logo {
  margin-bottom: 15px;
}
.bitCoin-container .first-card .logo {
  margin-bottom: 0;
}
/* .section-2 .bitCoin-container .first-card .logo img{
  width: 100px;
  height: 100px;
} */
.bitCoin-container .card .logo .logo-container {
  position: relative;
  width: 80.06px;
  height: 80.06px;
  border-radius: 10px;
  background: linear-gradient(0deg, #13223d 0%, #13223d 100%), #13223d;
  box-shadow: 0px 0px 24px -7px #88bcfa inset;
  justify-content: center;
  align-items: center;
}
.bitCoin-container .card .logo .logo-container > img {
  position: absolute;
  margin-left: 12px;
  margin-top: 8px;
  width: 53.582px;
  height: 45.749px;
}
.bitCoin-container .card .cardHeader {
  margin-bottom: 20px;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.bitCoin-container .card .cardDescription {
  width: 35ch;
  color: #ededed;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
  margin-bottom: 10px;
}
.bitCoin-container .card .playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  /* transform: rotate(-30deg); */
  flex-shrink: 0;
  background-color: #e215a7;
  filter: drop-shadow(5px 5px 19px rgba(0, 0, 0, 0.61));
}
.bitCoin-container .card .playButton .fa-angle-right {
  color: #e9eef4;
  font-size: 30px;
}
.section-3 {
  padding-bottom: 125px;
}

/* section -4 */
.section-4 .about-header-description {
  margin-bottom: 71px;
}

.section-4 .cripto-calc-container {
  width: 1170px;
  height: 948.877px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10345c;
  box-shadow: 10px 13px 26px 0px rgba(0, 0, 0, 0.11);
}
.section-4 .cripto-calc-container .header {
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  height: 80.912px;
  background-color: #00244b;
}
.section-4 .cripto-calc-container .header .header-nav {
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.section-4 .cripto-calc-container .header .header-nav .header-nav-list {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  text-transform: uppercase;
}

.section-4 .cripto-calc-container .header .header-nav .header-nav-list:hover {
  position: relative;
  right: 0px;
  top: 8px;
  padding: 12px 15px 25px 15px;
  border-radius: 3px;
  background: #10345c;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.31);
  color: #e215a7;
  font-family: DM_Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.section-4 .cripto-calc-container .content {
  justify-content: space-between;
  align-items: center;
  padding: 25px 32px 12px;
}
.section-4 .cripto-calc-container .content .left {
  width: 20%;
}
.section-4 .cripto-calc-container .content .left .logo-img,
.section-4 .cripto-calc-container .content .left .calculated-box {
  justify-content: center;
  align-items: center;
  width: 331.816px;
  height: 151.006px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #0a1136;
  background: linear-gradient(180deg, #24305a 0%, #273b5e 0.01%, #2f656d 100%);
}
.section-4 .cripto-calc-container .content .left .calculated-box-container {
  width: 331.816px;
  height: 680.206px;
  border-radius: 4px;
  border: 1px solid #0a1136;
  background: #242d59;
}

.section-4 .cripto-calc-container .content .left .calculated-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 68px;
  background: linear-gradient(0deg, #242d59 18.89%, #2f656d 89.86%);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
}
.section-4 .cripto-calc-container .content .left .calculated-box p:first-child {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.section-4 .cripto-calc-container .content .left .calculated-box p:last-child {
  color: #fdb009;
  font-family: DM_Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column {
  padding-left: 23px;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hashing-power
  .th-s-selection {
  width: 120px;
  height: 40px;
  padding: 15px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #0a1136;
  background: #242d59;
  justify-content: space-between;
  align-items: center;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .header {
  background-color: transparent;

  width: fit-content;
  height: fit-content;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  text-transform: capitalize;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hasing-selection {
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px 14px 22px;
  width: 169.984px;
  height: 55.657px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #0a1136;
  background: #10345c;
}
.section-4
  .cripto-calc-container
  .content
  .left
  .calculated-box-container
  .hashing-power-column
  .hasing-selection
  .inc-dec-arrow {
  width: 18.14px;
  height: 27.303px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #e9eef4;
}

.section-4 .cripto-calc-container .content .right {
  width: 80%;
}

/* section-5 */
.section-5 .bitCoin-container .card {
  align-items: flex-start;
}
.section-5 .bitCoin-container .card .cardDescription {
  text-align: start;
}

.section-5 .bitCoin-container .first-card {
  margin-right: 60px;
  position: relative;
  width: 370px;
  height: 347.454px;
  border-radius: 10px;
  align-items: flex-start;
  padding-left: 33px;
}
.section-5 .bitCoin-container .first-card .cardDescription {
  text-align: start;
}
.section-5 .bitCoin-container .first-card .logo {
  align-self: flex-start;
}
.section-5 .bitCoin-container .first-card::after {
  position: absolute;
  content: '';
  width: 370px;
  height: 347.454px;
  border-radius: 10px;
  transform: rotate(5.043deg);
  flex-shrink: 0;
  fill: linear-gradient(325deg, #e215a7 7.37%, #ee1d78 88.84%);
  opacity: 0.69;
}
.section-5 .bitCoin-container .second-card img {
  margin-right: 10px;
  margin-bottom: 5px;
}

.section-5 .bitCoin-container .learn-more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 7px 16px;
  width: 135.901px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(348deg, #e215a7 0%, #ee1d69 74.99%);
  box-shadow: -2px -2px 5px 0px rgba(108, 136, 192, 0.03);
}
.bitCoin-container .learn-more-btn a {
  color: #e9eef4;
  font-family: DMSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
}
.section-5 .bitCoin-container .first-card .learn-more-btn .fa-angle-right {
  color: #e9eef4;
}
.section-5 .bitCoin-container .second-learn-more-btn {
  color: #e9eef4;
  padding: 7px 16px;
  border-radius: 4px;
  border: 1px solid #e215a7;
  box-shadow: 3px 4px 13px 0px rgba(0, 0, 0, 0.28);
}
.section-5 .bitCoin-container .second-learn-more-btn a {
  color: #e9eef4;
}

/* section-6 */
.section-6 {
  padding-top: 100px;
}
.section-6 .subHeader {
  align-items: center;
  gap: 20px;
}
.section-6 .subHeader p {
  width: 20ch;
  color: #e9eef4;
  font-family: Syne;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 135.294% */
  text-transform: capitalize;
}
.section-6 .bitCoin-container .logo {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section-6 .bitCoin-container .first-card .logo {
  margin-top: 60px;
  margin-bottom: 100px;
}
.section-6 .bitCoin-container .logo img {
  position: absolute;
}
.section-6 .bitCoin-container .first-card {
  width: 370px;
  height: 347.454px;
  position: relative;
  top: 30px;
}
.section-6 .bitCoin-container .first-card::after {
  display: none;
}

/* section-7 */

.section-7 {
  padding-top: 110px;
}
.section-7 .about-header-description button {
  border: none;
  width: 135.9px;
  height: 40px;
  flex-shrink: 0;
  background: linear-gradient(348deg, #e215a7 0%, #ee1d69 74.99%);
  border-radius: 4px;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
}
.section-7 .content {
  justify-content: space-between;
}
.section-7 .content .left {
  width: 60%;
}
.section-7 .content .left .left-img {
  width: 671.791px;
  height: 458.308px;
  flex-shrink: 0;
}
.section-7 .content .left .left-img img {
  width: 90%;
}

.section-7 .content .right {
  width: 40%;
  align-items: flex-start;
}
.section-7 .content .right .amound-container {
  justify-content: space-between;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 32px;
  width: 100%;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
}
.section-7 .content .right .amound-container .amound {
  display: inline-block;
  width: fit-content;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: capitalize;
  height: 20px;
}
.section-7 .content .right p {
  width: 100%;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 26px;
  text-transform: lowercase;
}
.section-7 .content .right .right-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 261.475px;
  height: 50px;
  border-radius: 4px;
  background: #feb109;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.section-7 .content .right .right-header p {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}
.section-7 .content .right .pink-border {
  margin-bottom: 20px;
  width: 100%;
  height: 19.543px;
  background: linear-gradient(360deg, #e215a7 0%, #e215a7 98.44%);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.34) inset;
  border-radius: 30px;
}
.section-7 .content .right .softCap-container {
  width: 100%;
  justify-content: space-between;
}
.section-7 .content .right .softCap-container p {
  color: #ececec;
  font-family: DM_Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.17px;
}
.section-7 .content .right .softCap-container .softCap-amound p {
  color: #feb109;
  font-family: DMSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

/* section-8 */

.section-8 .pricing-work-container {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 5px 50px 21px;
  height: 226.875px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #2a3a56;
}
.section-8 .pricing-work-container .button {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 37px;
  width: 60px;
  height: 60px;
  background-color: rgb(225, 141, 51);
  border-radius: 50%;
}
.section-8 .pricing-work-container .button .fa-angle-up {
  font-size: 30px;
  color: white;
}
.section-8 .pricing-work-container .descriptions {
  gap: 20px;
}
.section-8 .pricing-work-container .descriptions p:first-child {
  color: #feb109;
  font-family: DM_Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 250% */
  text-transform: capitalize;
}
.section-8 .pricing-work-container .descriptions p:last-child {
  width: 82ch;
  color: #e8e8e8;
  font-family: DM_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.section-8 .question {
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 61.7px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(347deg, #ee1d78 2.6%, #e215a7 100%);
}
.section-8 .question .fa-angle-down {
  font-size: 22px;
  color: white;
}
.section-8 .question p {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-transform: capitalize;
}

.section-8 .about-header-description {
  margin-bottom: 70px;
}

/* section-9 */

.section-9 {
  position: relative;
  top: 0;
  height: 100%;
  /* padding-top: 50px; */
  background-image: linear-gradient(
      to bottom,
      rgba(9, 31, 59, 0.9),
      rgb(9, 31, 59, 0.9)
    ),
    url('../images/cripto-map.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  /* width: 150%; */
}
/* .section-9 .content-container {
  position: relative;
  bottom: 100px;

} */

.section-9 .content-container .about-header-description {
  margin-inline: auto;
  margin-bottom: 70px;
}

.section-9 .content {
  justify-content: center;

  gap: 30px;
}
.section-9 .content .left {
  justify-content: space-between;
  gap: 10px;
}
.section-9 .content .left .date-name-container {
  gap: 10px;
}
.section-9 .content .left .date-name-container .date {
  color: #feb109;
  font-family: DM_Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
.section-9 .content .left .date-name-container .name {
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 108.333% */
  text-transform: capitalize;
}

.section-9 .content .center .stroke {
  align-items: center;
  justify-content: space-between;
  width: 6px;
  height: 100%;
  background-color: #fff;
}
.section-9 .content .center .stroke .circle {
  width: 25.082px;
  height: 25.082px;

  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}
.section-9 .content .right p {
  color: #ededed;
  font-family: DM_Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* section-10 */
.section-10 .content-container {
  gap: 58px;
  padding: 120px 0;
}

/* section-11 */
.section-11 .content-container{
  gap: 58px;
}
.section-11 .content-container .cards-container {
  justify-content: space-between;
  gap: 23px;
}
.section-11 .content-container .cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 270px;
  height: 291.25px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #293a56;
}
.section-11 .content-container .cards-container .first-card{
  position: relative;
  padding: 0;
}
.section-11 .content-container .cards-container .first-card img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;

}
/* .section-11 .content-container .cards-container .first-card::before{

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    2deg,
    rgba(61,31,63) 11.28%,
    rgba(61,31,63) 36.55%
  );
} */
.section-11 .content-container .cards-container{
  margin-bottom: 125px;
}

.section-11 .content-container .cards-container .card-2-3-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-11 .content-container .cards-container .card-2-3-4 .more-info-box {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px 80px;
  border: 1px solid #feb109;
}
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img {
  position: relative;
  justify-content: center;
  align-items: center;
  /* width: 200px;
  height: 200px; */
  width: 100%;
  height: 100%;
}
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img::after {
    content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-image: linear-gradient(
    2deg,
    rgba(42, 58, 86, 1) 11.28%,
    rgba(42, 58, 86, 0) 36.55%
  );
}
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .section-11 .content-container .cards-container .card-2-3-4 .portrait-img::before {
  content: 'more-info';
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 16px;
  z-index: 5;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 15px;
  border-radius: 4px 80px;
  border: 1px solid #feb109;
} */
.section-11 .content-container .cards-container .card-2-3-4 .portrait-img a{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #e9eef4;
  font-family: DM_Sans;
  font-size: 16px;
  z-index: 5;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 15px;
  border-radius: 4px 80px;
  border: 1px solid #feb109;
}
.section-11 .content-container .cards-container .first-card .social-media-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.section-11
  .content-container
  .cards-container
  .card-2-3-4
  .more-info-box
  .more-info {
  color: #e9eef4;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;
}
.section-11 .content-container .cards-container .card-2-3-4 .person-name {
  display: inline-block;
  color: #feb109;
  text-shadow: 8px 8px 23px rgba(0, 0, 0, 0.37);
  font-family: DM_Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
}


/* section-12 */
.section-12 .card-container{
  justify-content: space-between;
  gap: 58px;
}
.section-12 .content-container{
  gap: 110px;

}
.section-12 .content-container .card{

justify-content: space-between;
align-items: flex-start;
gap: 30px;
  padding: 10px;
  width: 370px;
height: 370px;
flex-shrink: 0;
border-radius: 4px;
background: #2A3A56;
}
.section-12 .content-container .card-content{
  justify-content: space-between;
}
 /* .section-12 .content-container .first-card{

} */
/* .section-12 .content-container .second-card{
  
}
  */
 .section-12 .content-container .third-card{
  width: 170px;
  height: 370px;

  border-radius: 4px;
background: #2A3A56;
 }





.radial-grad-container-3 .grad-cont-1 {
  height: 800px;
}
.radial-grad-container-3 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-3 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-3 .grad-cont-1 .grad-3 {
  align-self: flex-start;
}
.radial-grad-container-3 .grad-cont-2 {
  justify-content: center;
  position: relative;
  bottom: 200px;
}

.radial-grad-container-4 .grad-cont-1 {
  height: 800px;
}
.radial-grad-container-4 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-4 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-4 .grad-cont-1 .grad-3 {
  align-self: center;
}
.radial-grad-container-4 .grad-cont-2 {
  justify-content: center;
  position: relative;
  bottom: 200px;
}
.radial-grad-container-4 .grad-cont-2 .grad-1 {
  position: relative;
  top: 100px;
}

.radial-grad-container-5 {
  /* background-color: bisque; */
  padding-top: 500px;
  height: 900px;
  gap: 280px;
}
.radial-grad-container-5 .grad-cont-1 .grad-1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #0f3660;
  filter: blur(60px);
}

.radial-grad-container-5 .grad-cont-2 {
  justify-content: center;
}

/* 6 */
.radial-grad-container-6 {
  /* background-color: red; */
  gap: 60px;
  padding-top: 700px;
}
.radial-grad-container-6 .grad-cont-1 .grad-2 {
  align-self: center;
}
.radial-grad-container-6 .grad-cont-1 .grad-3 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.radial-grad-container-6 .grad-cont-2 {
  width: 700px;
  height: 400px;
  justify-content: space-between;
}
.radial-grad-container-6 .grad-cont-2 .grad-1 {
  width: 140px;
  height: 140px;
  align-self: flex-end;
}
.radial-grad-container-6 .grad-cont-2 .grad-2 {
  align-self: flex-start;
}

/* 7 */

.radial-grad-container-7 {
  /* background-color: cadetblue; */
  gap: 60px;
}
.radial-grad-container-7 .grad-cont-1 {
  height: 600px;
}
.radial-grad-container-7 .grad-cont-1 .grad-1 {
  align-self: flex-end;
}
.radial-grad-container-7 .grad-cont-1 .grad-2 {
  align-self: flex-start;
  position: relative;
  top: 80px;
}
.radial-grad-container-7 .grad-cont-1 .grad-3 {
  align-self: flex-start;
}

.radial-grad-container-7 .grad-cont-2 {
  /* background-color: red; */
  justify-content: space-between;
  height: 500px;
}
/* .radial-grad-container-7 .grad-cont-2 .radial-grad{
width: 200px;
height: 200px;
} */
